* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  background-color: #d3d3e4;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #7d9fe9, #020a77);
}
p {
  color: rgb(26, 25, 25);
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

a {
  color: #752bea;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  width: 300px;

  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container h1 {
  text-align: left;
  color: #1d1d1d;
  margin-bottom: 30px;
  border-bottom: 5px solid#1d1d1d;
}
.container label {
  text-align: left;
  color: #1d1d1d;
}
.container form input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #1d1d1d;
  color: #1d1d1d;
  font-size: 20px;
}
.container form button {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border: none;
  background-color: #752bea;
  font-size: 18px;
  color: #fafafa;
  border-radius: 20px;
}
